@font-face {
    font-family: primary;
    src: url(content/FiraSans-Regular.otf);
}

a {
    text-decoration: none !important;
    color: inherit;
}

body {
    background-color: #2d2d2d;
    margin: 0;
    display: flex;
    font-family: primary;
}

.vhack {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.sitemap {
    flex: 0 0 auto;
    background-color: #ededed;
    width: 20vw;
    height: 100vh;
    box-shadow: .5em 0 1em 0;
}

.sitemap > .entry { }
.sitemap > .entry > * {
    display: block;
    height: 2em;
}

.sitemap > .entry > *:nth-child(odd):not(:first-child) {
    background-color: #DD88AA;
}

.sitemap > .entry > *:nth-child(even) {
    background-color: #DDAABB;
}

.sitemap > .entry > .header {
    font-weight: bold;
    color: #efefef;
    background-color: #5500AA;
}

.sitemap > .entry > .item {
    padding-left: 1.5em;
    font-size: .9em;
}

.sitemap > .entry > * > * {
    display: inline-block;
    vertical-align: middle;
}



.content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.content > div { }
