/* This is a modified version of prism.css */
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-dark&languages=markup+css+clike+javascript+bash+c+cpp+git+http+kotlin+makefile+markup-templating+php+python+rust+sass+scss+toml */
/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

:root {
    --FG: #C4C5B5;
    --BG: #1A1A1A;
    --BLACK: #1A1A1A;
    --RED: #F4005F;
    --GREEN: #98E024;
    --YELLOW: #FA8419;
    --BLUE: #9C65FF;
    --MAGENTA: #D15EA8;
    --CYAN: #58D2EA;
    --WHITE: #C4C5B5;
    --BRIGHTBLACK: #625E4C;
    --BRIGHTRED: #B01136;
    --BRIGHTGREEN: #5D8E0E;
    --BRIGHTYELLOW: #E0D561;
    --BRIGHTBLUE: #4C60D7;
    --BRIGHTMAGENTA: #A92F7E;
    --BRIGHTCYAN: #2D899D;
    --BRIGHTWHITE: #FFFFFF;
}

pre, code {
    background-color: var(--BG);
	color: var(--FG);

    .line-numbers-rows > span:before {
        color: var(--YELLOW);
    }

    .token.function {
        color: var(--CYAN);
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: var(--RED);
    }

    .token.namespace,
    .token.punctuation {
        color: #ff6565;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol {
        color: var(--RED);
    }

    .token.selector,
    .token.attr-name,
    .token.builtin,
    .token.inserted {
        color: var(--GREEN);
    }

    .token.char,
    .token.string {
        color: var(--RED);
    }

    .token.operator,
    .token.entity,
    .token.url,
    .token.variable {
        color: var(--RED);
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: var(--MAGENTA);
    }

    .token.regex,
    .token.important {
        color: var(--BLUE);
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }
    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }

    .token.deleted {
        color: var(--RED);
    }
}

code.language-css .token.string,
code.style .token.string {
    color: var(--RED);
}

