/* This is a modified version of prism.css */
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-dark&languages=markup+css+clike+javascript+bash+c+cpp+git+http+kotlin+makefile+markup-templating+php+python+rust+sass+scss+toml */
/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

:root {
    --FG: #F8F8F2;
    --BG: #282A36;
    --BLACK: #21222C;
    --RED: #FF5555;
    --GREEN: #50FA7B;
    --YELLOW: #F1FA8C;
    --BLUE: #BD93F9;
    --MAGENTA: #FF79C6;
    --CYAN: #8BE9FD;
    --WHITE: #F8F8F2;
    --BRIGHTBLACK: #6272A4;
    --BRIGHTRED: #FF6E6E;
    --BRIGHTGREEN: #69FF94;
    --BRIGHTYELLOW: #FFFFA5;
    --BRIGHTBLUE: #D6ACFF;
    --BRIGHTMAGENTA: #FF92DF;
    --BRIGHTCYAN: #A4FFFF;
    --BRIGHTWHITE: #FFFFFF;
}

pre, code {
    background-color: var(--BG);
	color: var(--FG);

    .line-numbers-rows > span:before {
        color: var(--YELLOW);
    }

    .token.function {
        color: var(--CYAN);
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: var(--RED);
    }

    .token.namespace,
    .token.punctuation {
        color: #ff6565;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol {
        color: var(--RED);
    }

    .token.selector,
    .token.attr-name,
    .token.builtin,
    .token.inserted {
        color: var(--GREEN);
    }

    .token.char,
    .token.string {
        color: var(--RED);
    }

    .token.operator,
    .token.entity,
    .token.url,
    .token.variable {
        color: var(--RED);
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: var(--MAGENTA);
    }

    .token.regex,
    .token.important {
        color: var(--BLUE);
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }
    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }

    .token.deleted {
        color: var(--RED);
    }
}

code.language-css .token.string,
code.style .token.string {
    color: var(--RED);
}

