@media only screen and (min-width: 800px) {

body {
    display: flex;
    overflow: hidden;
}

.slug-HamburgerMenu {
    display: none;
}

.sitemap {
    width: 14em;
    height: 100vh;
    flex: 0 0 auto;
    overflow-y: auto;
    > div {
        display: flex;
        flex-direction: column;
        .logo {
            height: 8em;
        }

        > div:first-child {
            flex: 0 1 auto;
            > div {
                display: none;
            }
            a {
                display: block;
                padding: 1em 30%;
            }

        }

        > div:last-child {
            flex: 1 1 auto;
            > div {
                > div {
                    display: block;
                }
                > .header {
                    padding-left: 1em;
                    height: 2em;
                }
                > .entry {
                    > .item {
                        padding-left: 2em;
                        height: 2em;
                        display: block;
                    }

                }

            }
        }

        hr {
            display: none;
        }
    }
}

.content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    > div { }
}

.content.index {
    height: calc(100% - 4em - 1px);
    > :last-child {
        display: flex;
        max-height: 100%;
        min-height: 100%;
        > :first-child {
            flex: 1 1 auto;
            text-align: center;
            > div.details-img-wrapper {
                > .img_wrapper {
                    img {
                        display: inline-block;
                        width: 24em;
                        max-width: 100%;
                        border-radius: 50%;
                    }
                }
                > .details {
                    > div {
                        text-align: center;
                    }
                }
            }
        }
        > .slug-GitActivityWidget {
            flex: 0 0 auto;
            overflow-y: auto;
            overflow-x: clip;
            padding: 0 .5em 0 1em;
            margin-right: -.5em;
        }
        > .slug-GitActivityWidget:empty {
            height: 100%;
            width: 170px;
            background-color: var(--col_light);
        }
    }
}

.content.daisy {
    height: calc(100vh - 2em);
}



.media_player {
    background-color: #2d2d2d;
    border: 1px solid #afafaf;
    height: calc(95vh - 1em - 2px);
    width: calc(90vw - 1em);

    > div:first-child {
        > div:first-child:last-child { }
        > div:first-child:not(:last-child) { }
        > div:last-child:not(:first-child) { }

        .mp_title {
            > div { }
        }

        .mp_video_wrapper {
            > * { }
            video {
            }
        }
    }

    > div:last-child { }


    > .mp_selector {
        .thumb { }
        .thumb.selected { }
        .thumb video { }
    }
}

.markdown {
    > h1 + p + p {
        display: flex;
        flex-wrap: wrap;
        padding-right: .5em;
        > * {
            flex: 1 1 auto;
            margin-bottom: .5em;
            margin-left: .5em;
        }
    }
}

.git-fileoverview {
    padding: 0 .5em;
    .navigation-row {
        display: flex;
        > div:first-child {
            flex: 1 1 auto;
        }
        > div:not(:first-child) {
            flex: 0 1 auto;
            text-align: right;
            padding-left: 1em;
        }

        .breadcrumb-nav {
            a, span {
                margin-top: .25em;
                margin-bottom: .25em;
            }
        }
    }
}
.git-overview {
    .option-row {
        padding-bottom: .25em;
        display: flex;
        flex-wrap: wrap;
        > div:first-child {
            max-width: 100%;
            flex: 0 1 auto;
        }
        > div:last-child {
            flex: 1 1 auto;
            display: flex;
            flex-wrap: wrap;
            > div {
                flex: 1 1 auto;
                text-align: right;
                padding: .25em;
                margin-right: -.25em;
            }
        }
    }
}

.slug-GitActivityWidget {
}

}
