@media only screen and (min-width: 800px) {

body {
}
body > .body_wrapper {
    height: 100%;
    display: flex;
    margin: 0 auto;
    box-shadow: 0 0 1em .2em #0008;
    max-width: 1024px;
}

.slug-HamburgerMenu {
    display: none;
}

.sitemap {
    position: fixed;
    width: 14em;
    height: 100vh;
    flex: 0 0 auto;
    overflow-y: auto;
    > div {
        display: flex;
        flex-direction: column;
        .logo {
            flex: 0 1 auto;
            height: 5em;
            padding: 1em;
            svg {
                height: 100%;
                width: 100%;
                path {
                    stroke-width: 25;
                }
            }
        }

        > div:last-child {
            flex: 1 1 auto;
            > div {
                > div {
                    display: block;
                }
                > .header {
                    padding-left: 1em;
                    height: 2em;
                }
                > .entry {
                    > .item {
                        padding-left: 2em;
                        height: 2em;
                        display: block;
                    }

                }

            }
        }

        hr {
            display: none;
        }
    }
}

.content {
    min-height: calc(100dvh - 2em);
    margin-left: 14em;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    > div { }
}

.content.index {
    min-height: calc(100dvh - 4em - 1px);
    > :last-child {
        display: flex;
        max-height: 100%;
        min-height: 100%;
        > :first-child {
            flex: 1 1 auto;
            text-align: center;
            > div.details-img-wrapper {
                > .img_wrapper {
                    img {
                        display: inline-block;
                        width: 24em;
                        max-width: 100%;
                        border-radius: 50%;
                    }
                }
                > .details {
                    > div {
                        text-align: center;
                    }
                }
            }
        }
        > .slug-GitActivityWidget {
            flex: 0 0 auto;
            overflow-y: auto;
            overflow-x: clip;
            padding: 0 .5em 0 1em;
            margin-right: -.5em;
        }
        > .slug-GitActivityWidget:empty {
            height: 100%;
            width: 170px;
            background-color: var(--col_light);
        }
    }
}

.content.daisy {
}


.media_player {
    border-width: 1px;
    border-style: solid;
    height: calc(95vh - 1em - 2px);
    width: calc(90vw - 1em);
    > div {
        > div:nth-child(2) {
            flex-direction: row;
            display: flex;
            .mp_video_wrapper {
                height: 100%;
            }
            > div:nth-child(2) {
                .mp_selector {
                    max-width: 16em;
                    max-height: calc(100% - 1em);
                    padding-bottom: 1em;
                    overflow-y: auto;
                    .thumb {
                        height: 9em;
                        width: 16em;
                    }
                }
            }
        }
    }

}

.markdown {
    > h1 + p + p {
        display: flex;
        flex-wrap: wrap;
        padding-right: .5em;
        > * {
            flex: 1 1 auto;
            margin-bottom: .5em;
            margin-left: .5em;
        }
    }
}

.git-fileoverview {
    padding: 0 .5em;
    .navigation-row {
        display: flex;
        > div:first-child {
            flex: 1 1 auto;
        }
        > div:not(:first-child) {
            flex: 0 1 auto;
            text-align: right;
            padding-left: 1em;
        }

        .breadcrumb-nav {
            a, span {
                margin-top: .25em;
                margin-bottom: .25em;
            }
        }
    }
}
.git-overview {
    .option-row {
        padding-bottom: .25em;
        display: flex;
        flex-wrap: wrap;
        > div:first-child {
            max-width: 100%;
            flex: 0 1 auto;
        }
        > div:last-child {
            flex: 1 1 auto;
            display: flex;
            flex-wrap: wrap;
            > div {
                flex: 1 1 auto;
                text-align: right;
                padding: .25em;
                margin-right: -.25em;
            }
        }
    }
}

.slug-GitActivityWidget {
}

.slug-NumberedDiagram {
    display: flex;
    > div:first-child {
        > div:nth-child(2) {
            display: inline-block;
        }
        > .padding {
            display: hidden;
        }
    }
    > div:last-child {
        > table {
            min-height: calc(100% - 2px);
            border-top: 1px solid var(--col_fore);
            td:first-child {
                font-weight: bold;
            }
            td {
                padding: .25em 0 .25em .5em;
            }
        }
    }
}

}
