:root {
    --krisholmblue: rgb(6,56,126);
    --krisholmyellow: #ffe100;
    --col_git_red: #f04f33;
    --col_git_white: #FFFFFF;

    --col_main: #765bd5;
    --col_main_sub: #967fe9;

    --col_text: #afafaf;
    --col_back: #2d2d2d;
    --col_mid: #424242;
    --col_fore: #424242;

    --col_breadcrumb_link: var(--col_fore);
    --col_breadcrumb_link_outline: var(--col_text);
    --col_breadcrumb_link_text: var(--col_text);
    --col_breadcrumb_link_hover: var(--col_main);
    --col_breadcrumb_link_hover_text: var(--col_breadcrumb_link_text);
    --col_breadcrumb_link_hover_outline: var(--col_breadcrumb_link_outline);

    --col_button: var(--col_mid);
    --col_button_border: var(--col_mid);
    --col_button_text: var(--col_text);
    --col_button_active: var(--col_main_sub);
    --col_button_active_text: var(--col_button_text);
    --col_button_active_outline: var(--col_main_sub);
    --col_button_hover: var(--col_main);
    --col_button_hover_text: var(--col_text);

    --col_files_text: var(--col_text);
    --col_files_hover: var(--col_main_sub);
    --col_files_hover_text: var(--col_back);
    --col_files_line: var(--col_mid);
    --col_files_head: var(--col_back);
    --col_files_head_text: var(--col_text);

    --gitactivity_boxshadow: none;
    --col_gitactivity_text: var(--col_text);
    --col_gitactivity_active_a: var(--col_main);
    --col_gitactivity_active_b: var(--col_main_sub);
    --col_gitactivity_inactive_a: rgba(66,66,66,.5);
    --col_gitactivity_inactive_b: rgba(66,66,66,1);

    --col_hamburger: var(--col_text);

    --col_logo_outer: var(--col_main_sub);
    --col_logo_inner: var(--col_main);
    --col_logo_off: #2d2d2d;

    --col_mediaplayer: var(--col_back);
    --col_mediaplayer_close: var(--col_fore);
    --col_mediaplayer_close_hover: var(--col_main_sub);
    --col_mediaplayer_outline: var(--col_text);
    --col_mediaplayer_divide: var(--col_fore);
    --col_mediaplayer_thumb: rgba(0,0,0,.2);

    --col_polaroid: var(--col_back);
    --col_polaroid_outline: var(--col_fore);
    --col_polaroid_label: var(--col_fore);
    --col_polaroid_label_outline: var(--col_fore);
    --col_polaroid_text: var(--col_text);
    --col_polaroid_hover: var(--col_main_sub);
    --col_polaroid_hover_outline: var(--col_main);
    --col_polaroid_hover_text: var(--col_back);
    --col_polaroid_hover_label: var(--col_main);
    --col_polaroid_hover_label_outline: var(--col_main);

    --col_shadow: #000;

    --col_sitemap: var(--col_fore);
    --col_sitemap_text: var(--col_text);
    --col_sitemap_highlight: var(--col_main);
    --col_sitemap_highlight_text: var(--col_back);
    --col_sitemap_hover: var(--col_main_sub);
    --col_sitemap_hover_text: var(--col_back);

    --shadow_size: .5em;
    --shadow: var(--shadow_size) var(--shadow_size) 0 0 var(--col_shadow);
    --sitemap_shadow: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --col_text: #2f2d33;
        --col_back: #e0e0e0;
        --col_mid: #888;
        --col_fore: #30260e;

        --col_breadcrumb_link: var(--col_button);
        --col_breadcrumb_link_outline: var(--col_fore);
        --col_breadcrumb_link_text: var(--col_text);
        --col_breadcrumb_link_hover: var(--col_main);
        --col_breadcrumb_link_hover_text: var(--col_breadcrumb_link_text);
        --col_breadcrumb_link_hover_outline: var(--col_breadcrumb_link_outline);

        --col_button: #FFF;
        --col_button_border: #FFF;
        --col_button_text: var(--col_text);
        --col_button_active: var(--col_main_sub);
        --col_button_active_text: var(--col_button_text);
        --col_button_active_outline: var(--col_main_sub);
        --col_button_hover: var(--col_main);
        --col_button_hover_text: var(--col_text);

        --col_files_text: var(--col_text);
        --col_files_hover: var(--col_main_sub);
        --col_files_hover_text: var(--col_files_text);
        --col_files_line: var(--col_mid);
        --col_files_head: var(--col_fore);
        --col_files_head_text: var(--col_back);

        --gitactivity_boxshadow: .05em .05em .1em -1px #2d2d2d;
        --col_gitactivity_text: var(--col_text);
        --col_gitactivity_active_a: var(--col_main);
        --col_gitactivity_active_b: var(--col_main_sub);
        --col_gitactivity_inactive_a: rgba(0,0,0, .18);
        --col_gitactivity_inactive_b: rgba(0,0,0, .09);

        --col_hamburger: var(--col_sitemap_text);

        --col_logo_outer: var(--col_main_sub);
        --col_logo_inner: var(--col_main);
        --col_logo_off: var(--col_sitemap_text);

        --col_mediaplayer: var(--col_back);
        --col_mediaplayer_close: var(--col_fore);
        --col_mediaplayer_close_text: var(--col_back);
        --col_mediaplayer_close_hover: var(--col_main_sub);
        --col_mediaplayer_outline: var(--col_text);
        --col_mediaplayer_divide: var(--col_fore);
        --col_mediaplayer_thumb: var(--col_fore);

        --col_polaroid: #FFF;
        --col_polaroid_outline: var(--col_fore);
        --col_polaroid_label: var(--col_back);
        --col_polaroid_label_outline: var(--col_back);
        --col_polaroid_text: var(--col_text);
        --col_polaroid_hover: var(--col_main_sub);
        --col_polaroid_hover_outline: var(--col_main);
        --col_polaroid_hover_text: var(--col_back);
        --col_polaroid_hover_label: var(--col_main);
        --col_polaroid_hover_label_outline: var(--col_main);

        --col_sitemap: var(--col_fore);
        --col_sitemap_text: rgba(255,255,255, .4);
        --col_sitemap_highlight: var(--col_main);
        --col_sitemap_highlight_text: var(--col_text);
        --col_sitemap_hover: var(--col_main_sub);
        --col_sitemap_hover_text: var(--col_text);

        --col_shadow: rgba(0,0,0,.5);
        --shadow_size: .1em;
        --shadow: var(--shadow_size) var(--shadow_size) .2em -1px var(--col_shadow);

        --sitemap_shadow: var(--shadow);
    }
}



@media (prefers-color-scheme: dark) {
}


@font-face {
    font-family: primary;
    font-weight: 800;
    src: url(/content/fonts/FiraSans/Heavy.otf);
}
@font-face {
    font-family: primary;
    font-weight: 700;
    src: url(/content/fonts/FiraSans/ExtraBold.otf);
}
@font-face {
    font-family: primary;
    font-weight: 600;
    src: url(/content/fonts/FiraSans/Bold.otf);
}
@font-face {
    font-family: primary;
    font-weight: 500;
    src: url(/content/fonts/FiraSans/SemiBold.otf);
}
@font-face {
    font-family: primary;
    font-weight: 400;
    src: url(/content/fonts/FiraSans/Regular.otf);
}
@font-face {
    font-family: primary;
    font-weight: 300;
    src: url(/content/fonts/FiraSans/Light.otf);
}
@font-face {
    font-family: primary;
    font-weight: 200;
    src: url(/content/fonts/FiraSans/ExtraLight.otf);
}
@font-face {
    font-family: primary;
    font-weight: 100;
    src: url(/content/fonts/FiraSans/Thin.otf);
}
@font-face {
    font-family: primary;
    font-weight: 800;
    font-style: italic;
    src: url(/content/fonts/FiraSans/HeavyItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 700;
    font-style: italic;
    src: url(/content/fonts/FiraSans/ExtraBoldItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 600;
    font-style: italic;
    src: url(/content/fonts/FiraSans/BoldItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 500;
    font-style: italic;
    src: url(/content/fonts/FiraSans/SemiBoldItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 400;
    font-style: italic;
    src: url(/content/fonts/FiraSans/Italic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 300;
    font-style: italic;
    src: url(/content/fonts/FiraSans/LightItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 200;
    font-style: italic;
    src: url(/content/fonts/FiraSans/ExtraLightItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 100;
    font-style: italic;
    src: url(/content/fonts/FiraSans/ThinItalic.otf);
}

@font-face {
    font-family: monospace;
    src: url(/content/fonts/FiraMono/Regular.woff2);
}
@font-face {
    font-family: monospace;
    font-weight: bold;
    src: url(/content/fonts/FiraMono/Bold.woff2);
}

a {
    text-decoration: none !important;
    color: inherit;
}
pre {
    margin: 0;
}

body {
    height: 100vh;
    margin: 0;
    font-family: primary;
    background-color: var(--col_back);
    color: var(--col_text);
}

.vh_top,
.vh_mid,
.vh_bot {
    display: inline-block;
    height: 100%;
    width: 0;
    ~ * {
        display: inline-block;
    }
}


.vh_top ~ *,
.vh_top {
    vertical-align: top;
}
.vh_mid,
.vh_mid ~ * {
    vertical-align: middle;
}
.vh_bot,
.vh_bot ~ * {
    vertical-align: bottom;
}


.sitemap {
    color: var(--col_sitemap_text);
    background-color: var(--col_sitemap);
    box-shadow: var(--sitemap_shadow);
    > div {
        > .logo {
            > a {
                height: calc(100% - 2em);
                text-align: center;
                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    path {
                        stroke: none;
                        fill: var(--col_logo_off);
                    }

                }
            }
        }

        > .slug-HamburgerMenu {
            text-align: right;
            .custom-select {
                display: inline-block;
                height: 100%;
                > .wrapper {
                    height: 100%;
                }
            }
            .hamburger-wrapper {
                height: 100%;
                .hamburger {
                    height: 100%;
                    width: 5em;
                    cursor: pointer;
                    > div {
                        padding: 1.2em;
                        height: calc(100% - 2.4em);
                        > div {
                            width: 100%;
                        }
                        > div:nth-child(even) {
                            height: 17%;
                        }
                        > div:nth-child(odd) {
                            height: 22%;
                            background-color: var(--col_hamburger);
                            border-radius: 3em;
                        }
                    }
                }
            }
        }
        > .slug-HamburgerMenu.active {
            .hamburger-wrapper {
                .hamburger {
                    > div {
                        > div:nth-child(odd) {
                            background-color: var(--col_highlight);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .header {
            font-weight: bold;
        }

        .item.active {
            font-weight: bold;
            background-color: var(--col_sitemap_highlight);
            color: var(--col_sitemap_highlight_text);
        }

        .item:hover:not(.active) {
            color: var(--col_sitemap_hover_text);
            background-color: var(--col_sitemap_hover);
            > div {
                text-decoration: underline;
            }
        }

    }
}

.git.sitemap > div > .logo {
    svg {
        path.frame,
        path.tire {
            opacity: 1;
            fill: var(--col_logo_inner);
            stroke: var(--col_logo_outer);
            stroke-width: 20;
        }
    }

}
.software.sitemap > div > .logo {
    svg {
        path.frame,
        path.tire {
            opacity: 1;
            fill: var(--col_logo_inner);
            stroke: var(--col_logo_outer);
            stroke-width: 20;
        }
    }
}

.unicycling.sitemap > div > .logo > a {
    svg {
        path.saddle,
        path.tire,
        path.frame {
            opacity: 1;
            fill: var(--col_logo_inner);
            stroke: var(--col_logo_outer);
            stroke-width: 20;
        }
    }
}


.content {
    padding: 1em;
    width: calc(100vw - 2em);
    height: calc(100vh - 2em);
    > div { }
}

.content.daisy {
    text-align: center;
    padding: 1em;
    width: calc(100% - 2em);
    .img_wrapper {
        padding: 0 10vw;
        svg {
            max-height: 50vh;
            display: inline-block;
            max-width: 100%;
            border-radius: 50%;
            .petals {
                fill: #FFF;
            }
            .stamen {
                fill: #c16500;
            }
            .stem {
                fill: #4a772f;
            }
        }
    }
    .details {
        padding: 1em;
        font-weight: bold;
        font-size: 1.4em;
    }
}

.index.content {
    text-align: center;
    padding: 2em;
    > div {
        max-width: 100%;
    }
    .details {
        > div {
            padding: 1em 0 0 0;
        }
        .nametag {
            font-weight: bold;
            font-size: 2em;
        }
        .nametag + div {
            font-size: 1.2em;
            font-style: italic;
            font-weight: 200;
        }

        .externals {
            margin-bottom: -.25em;
            > div {
                display: inline-block;
                padding: .25em .5em;
                margin: 0 0 .25em .25em;
                background-color: rgba(255, 255, 255, .05);
            }
            > div:not(:first-child) {
            }
            .nvm {
                text-decoration: line-through;
            }
        }
    }
}

.media {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-right: -1em;
    margin-bottom: -1em;
    > div {
        padding: 0 1em 1em 0;
        flex: 1 1 auto;
        vertical-align: bottom;
        text-align: center;
        width: 20%;
        min-width: 16em;
    }
}

.polaroid {
    background-color: var(--col_polaroid);
    cursor: pointer;
    width: calc(100% - 2em - 2px);
    padding: 1em;
    border: 1px solid var(--col_polaroid_outline);
    box-shadow: var(--shadow);
    > div {
        > img {
            width: 100%;
            max-height: 16em;
            max-width: 16em;
            display: inline-block;
            text-align: center;
            border: 1px solid var(--col_polaroid_outline);
            background-color: rgba(0,0,0, .2);
        }
    }
    > div.label-wrapper {
        padding-top: 1em;
        height: 2em;
        > .label {
            color: var(--col_polaroid_text);
            background-color: var(--col_polaroid_label);
            border: 1px solid var(--col_polaroid_label_outline);
        }
    }
}

.polaroid:hover {
    border-color: var(--col_polaroid_hover_outline);
    background-color: var(--col_polaroid_hover);
    > div {
        > img {
            border-color: var(--col_polaroid_hover_outline);
        }
    }
    > div.label-wrapper {
        > .label {
            color: var(--col_polaroid_hover_text);
            background-color: var(--col_polaroid_hover_label);
            border-color: var(--col_polaroid_hover_label_outline);
        }
    }
}


.mp_overlay {
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    text-align:center;
    > div {
        height: 100%;
    }
}

.media_player {
    text-align: center;
    background-color: var(--col_mediaplayer);
    border-color: var(--col_mediaplayer_outline);
    padding: .5em;
    > div {
        display: flex;
        flex-direction: column;
        height: 100%;
        > div:first-child {
            flex: 0 1 auto;
            text-align: right;
            .close_button {
                display: inline-block;
                cursor: pointer;
                height: 2em;
                padding: 0 1.5em;
                background-color: var(--col_mediaplayer_close);
                color: var(--col_mediaplayer_close_text);
            }
            .close_button:hover {
                background-color: var(--col_mediaplayer_close_hover);
                color: var(--col_mediaplayer_close_hover_text);
            }
        }

        > div:nth-child(2) {
            flex: 1 1 auto;
            .mp_video_wrapper {
                flex: 1 1 auto;
                > * {
                    height: 100%;
                }
                video {
                    max-height: 90%;
                    max-width: 90%;
                }
            }

            .mp_title {
                flex: 0 1 auto;
                height: 3em;
                > div {
                    border-top: solid 1px var(--col_mediaplayer_divide);
                }
            }
        }
        > div:nth-child(2):last-child {
            height: calc(100% - 2em);
        }
        > div:nth-child(2):not(:last-child) {
            height: calc(75% - 3em);
        }

        .mp_selector {
            .thumb:first-child:last-child {
                display: none;
            }

            .thumb {
                cursor: pointer;
                display: inline-block;
                filter: grayscale(100%);
                > div {
                    transition-duration: .2s;
                    transition-property: width, height, margin;
                    transition-timing-function: ease;
                    box-shadow: var(--shadow);
                    display: inline-block;
                    height: calc(100% - 2em);
                    width: calc(100% - 2em);
                    max-width: 16em;
                    margin: 1em;

                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-color: var(--col_mediaplayer_thumb);
                }
            }
            .thumb.selected {
                filter: none;
                > div {
                    height: calc(100% - 1em);
                    width: calc(100% - 1em);
                    margin: .5em;
                }
            }
        }
    }
}

.markdown-wrapper {
    > .markdown {

        > * {
            max-width: 100%;
        }
        > *:first-child {
            margin: 0;
        }
        > :not(:first-child) {
            margin: 1em 0 0 0;
        }

        > h1:not(:first-child),
        > h2:not(:first-child),
        > h3:not(:first-child),
        > h4:not(:first-child),
        > h5:not(:first-child) {
            margin: 1.4rem 0 0 0;
        }

        > p {
            + p {
                margin: 1rem 0 0 0;
            }
            > img {
                display: inline-block;
                max-width: 100%;
            }
        }

        > h1,
        > h1 + p {
            text-align: center;
        }

        > h1 + p + p {
            text-align: center;
            > * {
                background-color: var(--col_button);
                color: var(--col_button_text);
                padding: .5em 1em;
                box-shadow: var(--shadow);
            }
            > a:hover {
                background-color: var(--col_button_hover);
                color: var(--col_button_hover_text);
            }

        }
        > h1 + p + p ~ p {
            a {
                font-weight: 500;
            }
        }
        > h1 + p + p ~ * {
            a:hover {
            }
        }

        > h2 {
            border-bottom: 1px solid var(--col_fore);
        }
        > :not(h2) + ul,
        > :not(h1) + p {
            font-weight: 200;

        }

        > ul {
            margin: 1em 0 0 0;
            padding-left: 0em;
            ol, ul {
                padding-left: 1em;
            }
            li {
                list-style: none;
                line-height: 1.7em;
                > p {
                    margin: 0;
                }
            }
        }


    }

    .inline-svg {
        display: inline-block;
        vertical-align: bottom;
        margin-top: 0 !important;
        height: 2em;
        width: 2em;
        svg {
            path {
                fill: var(--col_text);
            }
        }
    }
}

.git-overview {
    > div.markdown-wrapper {
        border: 1px solid var(--col_fore);
        padding: 1em;
    }
    .slug-CloneButtonWidget {
        white-space: nowrap;
        max-width: 100%;
        > div {
            display: flex;
            > div {
                flex: 0 1 auto;
                font-family: monospace;
                padding: .5em;
            }
            > div:first-child {
                cursor: pointer;
                text-align: center;
                user-select: none;
                background-color: var(--col_button);
                border: 1px solid var(--col_button_border);
                width: calc(7.5em - 1em - 2px);
            }
            > div:first-child.copied {
                font-weight: bold;
                background-color: var(--col_button_active);
                border-color: var(--col_button_active_border);
                color: var(--col_button_active_text);
            }
            > div:last-child {
                border: 1px solid var(--col_button_border);
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    .files-wrapper {
        width: 100%;
        > .files-table {
            width: 100%;
            border-collapse: collapse;

            > tbody {
                > tr:hover {
                    > td {
                        background-color: var(--col_files_hover);
                        color: var(--col_files_hover_text);
                        > a {
                            path, rect {
                                stroke: var(--col_files_hover_text);
                            }
                        }
                    }
                }
                > tr:nth-child(2n):not(:hover) {
                    > td {
                        background-color: rgba(0,0,0,.1);
                    }
                }
                > tr:first-child {
                    > th {
                        padding:0;
                        background-color: var(--col_files_head);
                        color: var(--col_files_head_text);
                    }
                    > th:first-child {
                        text-align: left;
                    }
                    > th:last-child {
                        text-align: right;
                        padding-right: .5em;
                        white-space: nowrap;
                    }
                }
                > tr:nth-child(2) {
                    > td {
                        border-top: none;
                    }
                }
                > tr:not(:first-child):not(:nth-child(2)) {
                    > td {
                        border-top: solid 1px var(--col_files_line);
                    }
                }
                > tr:not(:first-child) {
                    > td:first-child {
                        padding: .5rem;
                    }
                    > td {
                        white-space: nowrap;
                        padding: .5rem 0;
                    }
                    > td.description {
                        max-width: calc(30vw - 2em);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding-left: 1em;
                        padding-right: 1em;
                    }
                    > td:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
    .icon-svg:empty {
        display: none;
    }
    .icon-svg:not(:empty) {
        width: 2em;
        display: inline-block;
        svg {
            width: 1.6em;
            height: 1.6em;
            display: block;
            rect, path {
                stroke: var(--col_files_text);
            }
        }
    }
    .readme {
        text-align: left;
    }
}

.git-fileoverview {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    > * {
        flex: 1 1 auto;
    }
    > pre:last-child {
        overflow-y: auto;
    }
}
.git-overview,
.git-fileoverview {
    .navigation-row {
        > div:last-child {
            margin-right: -.5em;
        }
    }

    .title-row {
        text-align: center;
        padding-bottom: .5em;
        > div:last-child {
            text-align: center;
            > div {
                display: inline-block;
            }
            > div:nth-child(2) {
                padding: 0 .5em;
            }
        }
    }

    .breadcrumb-nav {
        font-weight: normal;
        a:hover {
            background-color: var(--col_breadcrumb_link_hover);
            color: var(--col_breadcrumb_link_hover_text);
        }
        span, a {
            display: inline-block;
            padding: .2em .3em;
        }
        a {
            background-color: var(--col_breadcrumb_link);
            color: var(--col_breadcrumb_link_text);
            border-top: none;
            border-bottom: none;
        }
        span {
            display: inline-block;
        }

    }
}

.slug-GitActivityWidget {
    font-size: 1rem;
    > div.title {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }
    > .table-wrapper {
        text-align: center;
    }

    .year-table {
        display: inline-table;
        border-collapse: collapse;
        th {
            font-weight: normal;
            font-family: monospace;
        }
        td.year-delim {
            > span {
                display: flex;
                > hr {
                    border: none;
                    border-top: 1px solid var(--col_gitactivity_text);
                    flex: 1 1 auto;
                }
                > div {
                    flex: 0 1 auto;
                }
            }
        }
        td:not(.year-delim) {
            text-align: center;
            > div {
                width: .9em;
                height: .7em;
            }
        }
        td:not(.oob) {
            > div {
                background-color: var(--col_gitactivity_inactive_a);
            }
        }
        td.active {
             > div {
                background-color: var(--col_gitactivity_active_a);
                box-shadow: var(--gitactivity_boxshadow);
            }
        }
        td.active.evenmonth {
            > div {
                background-color: var(--col_gitactivity_active_b);
            }
        }
        td:not(.active).evenmonth {
            > div {
                background-color: var(--col_gitactivity_inactive_b);
            }
        }
        td:hover {
            > div {
                border-color: var(--col_hover);
            }
        }
    }
}

.slug-GitActivityWidget.horizontal {
    text-align: center;
    .table-wrapper {
        overflow-x: scroll;
        padding-bottom: 1em;
    }
}

.slug-GitBranchSelect {

}

.slug-GitCommitSelect {

}

.custom-select {
    box-shadow: var(--shadow);
    > .wrapper {
        position: relative;
        > select {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        > .facade {
            display: flex;
            padding: .25em .5em .25em .5em;
            background-color: var(--col_button);
            > div:first-child {
                flex: 1 1 auto;
                padding-right: .5em;
                white-space: nowrap;
            }
            > div.arrow {
                flex: 0 1 auto;
                margin-top: -.1em;
            }
            > div.arrow:before {
            }
        }
    }
}
.button {
    appearance: none;
    text-align: center;
    color: var(--col_button_text);
    background-color: var(--col_button);
    padding: .5em 1em;
    box-shadow: var(--shadow);
    margin: 0 .5em .5em 0;
}
.button:hover {
    background-color: var(--col_button_hover);
    color: var(--col_button_hover_text);
}
