:root {
    --krisholmblue: rgb(6,56,126);
    --krisholmyellow: #ffe100;
    --col_lightb: #6f6f6f;
    --col_light: #afafaf;
    --col_dark: #2d2d2d;
    --col_highlight: #3c4b66;
    --col_hover: #b287a3;
    --code: #0f1419;
}

@font-face {
    font-family: primary;
    font-weight: 800;
    src: url(content/fonts/FiraSans/Heavy.otf);
}
@font-face {
    font-family: primary;
    font-weight: 700;
    src: url(content/fonts/FiraSans/ExtraBold.otf);
}
@font-face {
    font-family: primary;
    font-weight: 600;
    src: url(content/fonts/FiraSans/Bold.otf);
}
@font-face {
    font-family: primary;
    font-weight: 500;
    src: url(content/fonts/FiraSans/SemiBold.otf);
}
@font-face {
    font-family: primary;
    font-weight: 400;
    src: url(content/fonts/FiraSans/Regular.otf);
}
@font-face {
    font-family: primary;
    font-weight: 300;
    src: url(content/fonts/FiraSans/Light.otf);
}
@font-face {
    font-family: primary;
    font-weight: 200;
    src: url(content/fonts/FiraSans/ExtraLight.otf);
}
@font-face {
    font-family: primary;
    font-weight: 100;
    src: url(content/fonts/FiraSans/Thin.otf);
}
@font-face {
    font-family: primary;
    font-weight: 800;
    font-style: italic;
    src: url(content/fonts/FiraSans/HeavyItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 700;
    font-style: italic;
    src: url(content/fonts/FiraSans/ExtraBoldItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 600;
    font-style: italic;
    src: url(content/fonts/FiraSans/BoldItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 500;
    font-style: italic;
    src: url(content/fonts/FiraSans/SemiBoldItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 400;
    font-style: italic;
    src: url(content/fonts/FiraSans/Italic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 300;
    font-style: italic;
    src: url(content/fonts/FiraSans/LightItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 200;
    font-style: italic;
    src: url(content/fonts/FiraSans/ExtraLightItalic.otf);
}
@font-face {
    font-family: primary;
    font-weight: 100;
    font-style: italic;
    src: url(content/fonts/FiraSans/ThinItalic.otf);
}

@font-face {
    font-family: monospace;
    src: url(content/fonts/FiraMono/Regular.woff2);
}
@font-face {
    font-family: monospace;
    font-weight: bold;
    src: url(content/fonts/FiraMono/Bold.woff2);
}

a {
    text-decoration: none !important;
    color: inherit;
}
pre {
    margin: 0;
}

body {
    height: 100vh;
    background-color: var(--col_dark);
    margin: 0;
    font-family: primary;
    color: var(--col_light);
}

.vh_top,
.vh_mid,
.vh_bot {
    display: inline-block;
    height: 100%;
    width: 0;
    ~ * {
        display: inline-block;
    }
}


.vh_top ~ *,
.vh_top {
    vertical-align: top;
}
.vh_mid,
.vh_mid ~ * {
    vertical-align: middle;
}
.vh_bot,
.vh_bot ~ * {
    vertical-align: bottom;
}


.sitemap {
    color: var(--col_dark);
    background-color: var(--col_light);
    > div {
        > .logo {
            > a {
                height: calc(100% - 2em);
                text-align: center;
                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    path {
                        stroke: none;
                        fill: var(--col_dark);
                        opacity: .3;
                    }

                }
            }
        }

        > .hamburger-wrapper {
            .hamburger {
                height: 100%;
                width: 5em;
                background-color: var(--col_light);
                cursor: pointer;
                > div {
                    padding: 1.2em;
                    height: calc(100% - 2.4em);
                    > div {
                        width: 100%;
                    }
                    > div:nth-child(even) {
                        height: 17%;
                    }
                    > div:nth-child(odd) {
                        height: 22%;
                        background-color: var(--col_dark);
                        border-radius: 3em;
                        opacity: .3;
                    }
                }
            }
            .hamburger.active {
                > div {
                    > div:nth-child(odd) {
                        background-color: var(--col_highlight);
                        opacity: 1;
                    }
                }
            }
        }

        .header {
            font-weight: bold;
        }

        .item.active {
            font-weight: bold;
        }
        .item:hover {
            background-color: var(--col_hover);
            > div {
                text-decoration: underline;
            }
        }
    }
}

.project.sitemap > div > .logo {
    svg {
        path.frame,
        path.tire {
            opacity: 1;
            fill: var(--col_highlight);
            stroke: var(--col_hover);
            stroke-width: 20;
        }
    }

}
.software.sitemap > div > .logo {
    svg {
        path.frame,
        path.tire {
            opacity: 1;
            fill: var(--col_hover);
            stroke: var(--col_highlight);
            stroke-width: 20;
        }
    }
}

.unicycling.sitemap > div > .logo > a {
    svg {
        path.saddle,
        path.tire,
        path.frame {
            opacity: 1;
            fill: var(--col_hover);
            stroke: var(--col_highlight);
            stroke-width: 20;
        }
    }
}


.content {
    padding: 1em;
    width: calc(100vw - 2em);
    height: calc(100vh - 2em);
    > div { }
}
.content.daisy {
    color: var(--col_light);
    text-align: center;
    padding: 1em;
    width: calc(100% - 2em);
    .img_wrapper {
        padding: 0 10vw;
        svg {
            max-height: 50vh;
            display: inline-block;
            max-width: 100%;
            border-radius: 50%;
            .petals {
                fill: #FFF;
            }
            .stamen {
                fill: #c16500;
            }
            .stem {
                fill: #4a772f;
            }
        }
    }
    .details {
        padding: 1em;
        font-weight: bold;
        font-size: 1.4em;
    }
}

.index.content {
    color: var(--col_light);
    text-align: center;
    padding: 2em;
    .img_wrapper {
        padding: 0 10vw;
        img {
            display: inline-block;
            width: 24em;
            max-width: 100%;
            border-radius: 50%;
        }
    }
    .details {
        > div {
            padding: 1em 0 0 0;
        }
        .nametag {
            font-weight: bold;
            font-size: 2em;
        }
        .nametag + div {
            font-size: 1.2em;
            font-style: italic;
            font-weight: 200;
        }

        .externals {
            .nvm {
                text-decoration: line-through;
            }
        }
    }
}


.media {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-right: -1em;
    margin-bottom: -1em;
    > div {
        padding: 0 1em 1em 0;
        flex: 1 1 auto;
        vertical-align: bottom;
        text-align: center;
        width: 20%;
        min-width: 16em;
    }
}

.polaroid {
    cursor: pointer;
    width: calc(100% - 2em - 2px);
    padding: 1em;
    color: var(--col_light);
    border: 1px solid var(--col_light);
    box-shadow: .5em .5em 0 0 black;
    > div {
        > img {
            max-height: 16em;
            max-width: 16em;
            display: inline-block;
            text-align: center;
            border: 1px solid var(--col_light);
        }
    }
    > div.label-wrapper {
        padding-top: 1em;
        height: 2em;
        > .label {
            background-color: var(--col_light);
            color: var(--col_dark);
        }
    }
}

.polaroid:hover {
    color: var(--col_hover);
    border-color: var(--col_hover);
    > div {
        > img {
            border-color: var(--col_hover);
        }
    }
    > div.label-wrapper {
        > .label {
            background-color: var(--col_hover);
        }
    }
}



.mp_overlay {
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    text-align:center;
}

.media_player {
    text-align: center;
    padding: .5em;
    > div {
        display: flex;
        flex-direction: column;
        height: 100%;
        > div:first-child {
            flex: 0 1 auto;
            text-align: right;
            .close_button {
                display: inline-block;
                cursor: pointer;
                height: 2em;
                padding: 0 1.5em;
                color: var(--col_dark);
                background-color: var(--col_light);
            }
            .close_button:hover {
                color: var(--col_highlight);
                background-color: var(--col_hover);
            }
        }

        > div:nth-child(2) {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            .mp_video_wrapper {
                flex: 1 1 auto;
                > * {
                    height: 100%;
                }
                video {
                    max-height: 90%;
                    max-width: 90%;
                }
            }

            .mp_title {
                flex: 0 1 auto;
                height: 3em;
                > div {
                    color: var(--col_light);
                    border-top: solid 1px var(--col_light);
                }
            }
            .mp_video_wrapper:last-child {
                height: 100%;
            }
            .mp_video_wrapper:not(:last-child) {
                height: calc(100% - 3em);
            }
        }
        > div:nth-child(2):last-child {
            height: calc(100% - 2em);
        }
        > div:nth-child(2):not(:last-child) {
            height: calc(75% - 3em);
        }

        > .mp_selector {
            flex: 0 1 auto;
            display: flex;
            height: calc(25% - 3em);
            padding-bottom: 1em;
            overflow-x: auto;
            .thumb:first-child:last-child {
                display: none;
            }
            .thumb {
                flex: 1 1 auto;
                cursor: pointer;
                height: calc(100% - 2px);
                display: inline-block;
                min-width: 33%;
                filter: grayscale(100%);
                > div {
                    transition-duration: .2s;
                    transition-property: width, height, margin;
                    transition-timing-function: ease;
                    box-shadow: .5em .5em 0 0 #000;
                    display: inline-block;
                    height: calc(100% - 2em);
                    width: calc(100% - 2em);
                    max-width: 16em;
                    margin: 1em;

                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-color: var(--col_light);
                }
            }
            .thumb.selected {
                filter: none;
                > div {
                    height: calc(100% - 1em);
                    width: calc(100% - 1em);
                    margin: .5em;
                }
            }
        }
    }
}

.markdown-wrapper {
    > .markdown {
        color: var(--col_light);

        > * {
            max-width: 100%;
        }
        > *:first-child {
            margin: 0;
        }
        > :not(:first-child) {
            margin: 1em 0 0 0;
        }

        > h1:not(:first-child),
        > h2:not(:first-child),
        > h3:not(:first-child),
        > h4:not(:first-child),
        > h5:not(:first-child) {
            margin: 1.4rem 0 0 0;
        }

        > p {
            + p {
                margin: 1rem 0 0 0;
            }
            > img {
                display: inline-block;
                max-width: 100%;
            }
        }

        > h1,
        > h1 + p {
            text-align: center;
        }

        > h1 + p + p {
            text-align: center;
            > * {
                color: var(--col_dark);
                background-color: var(--col_light);
                padding: .5em 1em;
                box-shadow: .5em .5em 0 0 #000;
            }
            > a:hover {
                background-color: var(--col_hover);
            }

        }
        > h1 + p + p ~ p {
            a {
                font-weight: 500;
            }
        }
        > h1 + p + p ~ * {
            a:hover {
                color: var(--col_hover);
            }
        }

        > h2 {
            border-bottom: 1px solid var(--col_light);
        }
        > :not(h2) + ul,
        > :not(h1) + p {
            font-weight: 200;

        }

        > ol,
        > ul {
            margin: 1em 0 0 0;
            padding-left: 0em;
            ol, ul {
                padding-left: 1em;
            }
        }

        li {
            list-style: none;
            line-height: 1.7em;
            > p {
                margin: 0;
            }
        }

    }
}

.git-overview {
    color: var(--col_light);
    > div.markdown-wrapper {
        border: 1px solid var(--col_light);
        padding: 1em;
    }
    .slug-CloneButtonWidget {
        white-space: nowrap;
        max-width: 100%;
        > div {
            display: flex;
            > div {
                flex: 0 1 auto;
                font-family: monospace;
                padding: .5em;
            }
            > div:first-child {
                cursor: pointer;
                text-align: center;
                user-select: none;
                color: var(--col_dark);
                background-color: var(--col_light);
                border: 1px solid var(--col_light);
                width: calc(7.5em - 1em - 2px);
            }
            > div:first-child.copied {
                font-weight: bold;
                background-color: var(--col_highlight);
                border-color: var(--col_highlight);
                color: var(--col_hover);
            }
            > div:last-child {
                border: 1px solid var(--col_light);
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    .files-wrapper {
        width: 100%;
        > .files-table {
            color: var(--col_light);
            width: 100%;
            border-collapse: collapse;

            > tbody {
                > tr:hover {
                    > td {
                        > a {
                            color: var(--col_hover);
                            path, rect {
                                stroke: var(--col_hover);
                            }
                        }
                    }
                }
                > tr:first-child {
                    > th {
                        padding:0;
                        background-color: var(--col_light);
                        color: var(--col_dark);
                        .breadcrumb-nav {
                            a, span {
                                border-bottom: none;
                            }
                        }
                    }
                    > th:first-child {
                        text-align: left;
                    }
                    > th:last-child {
                        text-align: right;
                        padding-right: .5em;
                        white-space: nowrap;
                    }
                }
                > tr:not(:first-child) {
                    > td:first-child {
                        padding: .5rem;
                    }
                    > td {
                        white-space: nowrap;
                        border-top: solid 1px var(--col_light);
                        padding: .5rem 0;
                    }
                    > td.description {
                        max-width: calc(30vw - 2em);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding-left: 1em;
                        padding-right: 1em;
                    }
                    > td:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
    .icon-svg:empty {
        display: none;
    }
    .icon-svg:not(:empty) {
        width: 2em;
        display: inline-block;
        svg {
            width: 1.6em;
            height: 1.6em;
            display: block;
            rect, path {
                stroke: var(--col_light);
            }
        }
    }
    .readme {
        text-align: left;
    }
}

.git-fileoverview {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    > * {
        flex: 1 1 auto;
    }
    > pre:last-child {
        overflow-y: auto;
    }
}
.git-overview,
.git-fileoverview {

    .title-row {
        text-align: center;
        padding-bottom: .5em;
        > div:last-child {
            text-align: center;
            > div {
                display: inline-block;
            }
            > div:nth-child(2) {
                padding: 0 .5em;
            }
        }
    }
    .breadcrumb-nav {
        font-weight: bold;
        a:hover {
            background-color: var(--col_hover);
            color: var(--col_highlight);
            border-color: var(--col_highlight);
        }
        span, a {
            display: inline-block;
            padding: .2em .3em;
        }
        a {
            color: var(--col_light);
            background-color: var(--col_dark);
            border: solid 1px var(--col_light);
        }
        span {
            display: inline-block;
        }

    }
}

.slug-GitActivityWidget {
    font-size: 1rem;
    > div.title {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }
    > .table-wrapper {
        text-align: center;
    }

    .year-table {
        display: inline-table;
        border-collapse: collapse;
        th {
            color: var(--col_light);
            font-weight: normal;
            font-family: monospace;
        }
        td.year-delim {
            > span {
                display: flex;
                > hr {
                    border: none;
                    border-top: 1px solid var(--col_lightb);
                    flex: 1 1 auto;
                }
                > div {
                    flex: 0 1 auto;
                }
            }
        }
        td:not(.year-delim) {
            text-align: center;
            > div {
                width: .9em;
                height: .7em;
            }
        }
        td:not(.oob) {
            > div {
                background-color: var(--col_light);
            }
        }
        td.active {
             > div {
                background-color: var(--col_light);
            }
        }
        td.active:hover {
            > div {
                background-color: var(--col_hover);
            }
        }
        td:not(.active):not(.year-delim):not(.month-label) {
            opacity: .2;
        }
        td:not(.active).evenmonth {
            > div {
                background-color: var(--col_lightb);
            }
        }
        td:hover {
            > div {
                border-color: var(--col_hover);
            }
        }
    }
}

.slug-GitActivityWidget.horizontal {
    text-align: center;
    .table-wrapper {
        overflow-x: scroll;
        padding-bottom: 1em;
    }
}

.slug-GitBranchSelect {

}

.slug-GitCommitSelect {

}

.custom-select {
    box-shadow: .5em .5em 0 0 #000;
    > .wrapper {
        position: relative;
        > select {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        > .facade {
            display: flex;
            padding: .25em .5em .25em .5em;
            color: var(--col_dark);
            background-color: var(--col_light);
            > div:first-child {
                flex: 1 1 auto;
                padding-right: .5em;
                white-space: nowrap;
            }
            > div.arrow {
                flex: 0 1 auto;
                margin-top: -.1em;
            }
            > div.arrow:before {
            }
        }
    }
}
.button {
    appearance: none;
    text-align: center;
    color: var(--col_dark);
    background-color: var(--col_light);
    padding: .5em 1em;
    box-shadow: .5em .5em 0 0 #000;
    margin: 0 .5em .5em 0;
}
.button:hover {
    background-color: var(--col_hover);
}

